---
interface Props {
	imgSrc: string;
	imgAlt: string;
	title: string;
	body: string;
	href: string;
}

const { imgSrc, imgAlt, title, body, href } = Astro.props;
---

<div class="col-lg-3 col-md-6 mb-3 d-flex align-items-stretch">
	<div class="card">
		<img src={imgSrc} class="card-img-top" alt={imgAlt}/>
		<div class="card-body">
			<h5 class="card-title">{title}</h5>
			<p class="card-text">{body}</p>
			<a class="stretched-link" href={href} title={title}>Read more...</a>
		</div>
	</div>
</div>

<style>
</style>
